.App {
  text-align: center;
}
body {
  background-color: #162831;
}
.App-header {
  background-color: red;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

